
.NewBoardForm {
    width: 150px;
    margin-left: 100px;
}

.input{
  margin-left: 50px;
}


#boardtitle {
    width: 250px;
    background-color: darkcyan;
    border: solid white;
    border-width: 5px;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}

button:hover{
    background-color:lightblue;
}

.button{
    background-color:yellow;
    border: solid 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 8vw;
}