.board {
    margin: 1rem;
    border: 10px solid pink; 
    background-image: url('/Users/jessica/Ada/unit_3/front-end-inspiration-board/src/images/wp4465167.jpg'); 
    background-color: paleturquoise;
    color: darkslateblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    position: relative; 
    overflow: hidden; 
    border-radius: 15px; 
    padding: 1rem; 
}

/* .board:hover {
    border-color: pink;
    transform: scale(1.05); 
    z-index: 1; 
    box-shadow: 0 0 10px pink; 
} */

.h1-board:hover {
    color: pink;
    text-decoration: underline;
    text-decoration-color: pink;
}
