


.input{
  margin-left: 50px;
  width: 150px;
  align-self: center;
  background-color: darkcyan;
  padding: 20px;
  border: solid 2px white;
}


#boardtitle {
    width: 250px;
    background-color: darkcyan;
    border: solid white;
    border-width: 5px;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}

button:hover{
    background-color:yellow;
    color: black;
}

.button{
    background-color:darkcyan;
    border: solid 2px white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 100px;
    width: 8vw;
    font-weight: 800;
    color: white;
}

.hide-form{
    display: none;
}

span{
    font-size: 17px;
    color: rgb(162, 56, 56);
    display: none;
    font-weight: 580;
    font-style: italic;

}

input:invalid ~ span{
    display: block;
}