.cardslist-container {
    font-family: fantasy;
    font-weight: bold;
    margin: 3%;
    grid-column: span 2;
    /* text-shadow: 3px 3px 8px  black; */
  }

.board-of-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}