.cardslist-container {
    font-family: fantasy;
    font-weight: bold;
    margin: 3%;
    grid-column: span 2;
  }

.board-of-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.delete-button {
  margin-top: 10%;
  background-color: rgb(253, 147, 109);
  font-family:  'Bradley Hand', cursive;
}