.cardslist-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: 1fr track-size 1fr; */
    /* grid-template-rows: 1fr 1fr; */
    font-family: fantasy;
    font-weight: bold;
    margin: 3%;
  }