.card-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  word-wrap: break-word;
  flex-wrap: wrap;
}

.new-card-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .new-card-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 400px;
    row-gap: 20px;
  }
  
  .new-card-fields label {
    font-weight: bolder;
    font-size: 1.2em;
  }
  
  .new-card-submit { 
    grid-column: span 2;
  }

  