.delete-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #888;
}

.delete-button:before {
    content: "🗑️";
}
