/************* New Board Form *************/

.new-board-form {
    /* border: solid saddlebrown; */
    height: 15rem;
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/************* Form Inputs *************/

.board-input {
    display: inline-block;
}