.card-list-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#card {
    background-color:rgba(246, 170, 56, 0.902);
    border-radius: 5%;
    width: 200px; 
    height: 150px; 
    padding: 10px;
    margin: 10px;
    position: relative;
}


