.cards-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#card {
    background-color:rgba(246, 170, 56, 0.902);
    border-radius: 5%;
    width: 45%;
    margin-bottom: 5%;
}