.App {
  background-image: linear-gradient(to bottom right, lightpink, #ffff8fe6);
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 4%;
  padding-right: 4%;
  height: fit-content;
}

.container {
  /* border: black 2px dashed; */
  display: flex;
  flex-direction: row;
  width: auto;
  margin-top: 6vh;
  gap: 3vh;
}

.element {
  border: black 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  font-weight: bolder;
  width: 100%;
  height: auto;
  border-radius: 3px;
  padding: 2vh;
  border-radius: 2vh;
  background-color: #a5f1fec6;
}

.App-header {
  font-size: 5.5vh;
  font-stretch: ultra-expanded;
  font-weight: bolder;
  text-align: center;
  height: auto;
}

.board-list {
  border: 1px solid #000;
  max-height: 9rem;
  min-height: 9rem;
  overflow: scroll;
  width: 80%
}