* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header h1 {
  height: 150px;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
}

.board-container {
  flex-direction: vertical;
  margin: 30px;
  padding: 30px;
  justify-content: space-between;
}
